.DS_Store

/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

/.lefthook-local.yml

/node_modules/
/package.json
/package-lock.json

.venv/
__pycache__/

.obsidian/

.vagrant/

.terraform/
.terraform.lock.hcl
*.auto.tfvars
*.tfstate
*.tfstate.backup

.pulumi/
